body {
  padding: 0;
  margin: 0;
  background-color: beige;
}
td {
  width: 60px;
  height: 60px;
  text-align: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
td {
  border: 3px solid beige;
}
.hidden {
  border: transparent;
}
td:hover {
  scale: 120%;
  transition: all ease-in-out;
  transition-duration: 100ms;
}
table,
td,
tr {
  border-radius: 10px;
}
tr:hover {
  width: 65px;
  height: 65px;
}

h1 {
  background-color: rgb(154, 209, 70);
  color: white;
  font-weight: bold;
  width: 40%;
  line-height: 100px;
  border-radius: 20px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: rgb(106, 105, 154);
  /* color: rgb(87, 65, 65); */
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: rgb(199, 199, 59);
}
.pink {
  background-color: rgb(179, 71, 89);
}
.green {
  background-color: green;
}
.darkblue {
  background-color: darkblue;
}
.grey {
  background-color: gray;
}
